<html>
  <head>
    <title>Message Board</title>
  </head>
  <body>
    <%- include('navbar') %>
    <h2>Details for <%= message.username %>'s message</h2>
    <p>Sent: <%= message.added.toLocaleString() %></p>
    <p><%= message.message %></p>
    <a href="/">Back</a>
  </body>
</html>
