<html>
  <head>
    <title>Message Board</title>
  </head>
  <body>
    <a href="/">Back</a>
    <h3>Details for <%= message.user %>'s message</h3>
    <p>Sent: <%= message.added %></p>
    <p>Message: <%= message.text %></p>
  </body>
</html>
